.navContainer{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    padding: 10px;
}
nav .logoTipo{
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5em;
    font-weight: 800;
}
nav .logoTipo img{
    max-width: 60px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}
nav ul li{
    padding-left: 10px;
    border-left: 1px solid white;
}
nav ul li a{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
